
{% extends "base.html" %}
{% block content %}
<h2>{{ 'Modifier' if form.name.data else 'Nouveau' }} site pour {{ client.name }}</h2>
<form method="POST">
  {{ form.hidden_tag() }}
  {% for field in form %}
    {% if field.name not in ('csrf_token','submit') %}
      <div>
        {{ field.label }}<br>
        {{ field() }}<br>
        {% for err in field.errors %}
          <span style="color:red">{{ err }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
  <button class="btn" type="submit">Enregistrer</button>
  <a class="btn" href="{{ url_for('core.list_sites', client_id=client.id) }}">Retour aux sites</a>
</form>
{% endblock %}
